
.About .about__top{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.about__top img{
    position: absolute;
    
    object-fit: fill;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.About .about__text{
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    color: #fff;
    position: relative;
    z-index: 2;
    margin-top: 100px;
    max-width: 800px;
}

.about__number{
    display: flex;
    justify-content: space-between;
}
.number__item{
    flex: 1 1 33.333%;
    text-align: center;
    font-size: 100px;
    padding: 50px 0;
}
.number__item p{
    font-size: 26px;
    text-transform: uppercase;
}

.About .block3{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
.block3 img{
    position: absolute;  
    object-fit: fill;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.About .text__block{
    position: relative;
    top: 300px;
    max-width: 50%;
    z-index: 2;
    background: #1e1e1e85;
    padding: 10px;
}
.About .text__block p{
    margin-bottom: 50px;
}

.slide{
    width: 100%;
    height: 100vh;
    position: relative;
}
.slide img{
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 1;
    object-fit: fill;
}
.slide__item{
    position: absolute;
    z-index: 2;
    bottom: 100px;
    left: 100px;
    max-width: 500px;
}
.slide__item .data{
    text-transform: uppercase;
    font-size: 18px;
}
.About h2{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 45px;
}
.slide__item p{
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
}

.pagination{
    background-color: rgb(255, 0, 81);
}
.swiper-button-prev,
.swiper-button-next{
    position: absolute;
    top: 90%;
    z-index: 10;
 
}

.reuse{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.img__block{
    flex: 0 1 60%;
}
.img__block img{
    max-width: 100%;
    object-fit: contain;
}
.body__block{
    flex: 0 1 40%;
    justify-content: center;
    padding: 0 50px;
}
.body__block p{
    font-size: 16ps;
    line-height: 26px;
    margin-top: 10px;
}

.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.landing p{
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    max-width: 500px;
}

.switch{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    color: #a19f9fb9;
}
.switch span{
    padding: 0 10px;
}
.switch .active{
    color: #fff;
}
.switch__block{
    margin-top: 50px;
    align-self: center;
}
.switch__block img{
    max-width: 100%;
    object-fit: c;
}