.Error{
    text-align: center;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.Error h1{
    
    font-size: 40px;
    line-height: 45px;
    color: #fff;
    margin-top: 100px;
}
.Error img{
    margin-top: 50px;
}